.count {
  text-align: center;
}

#counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.btn-secondary {
  margin: 0 2em 0 2em;
}

.container {
  margin-top: 2em;
  padding: 2em 0 2em 0;
  border: solid red;
}
